DATABASE_URL=

# Core
NODE_ENV=
PORT=
LOG_LEVEL=
CORS_ORIGINS=

# OpenTelemetry (Jaeger)
OTEL_EXPORTER_OTLP_ENDPOINT=

# Sentry (get from https://sentry.io)
SENTRY_ENABLED=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
