# Environment
.env
.env.local

# Dependencies
node_modules

# Build
dist
.next

# Drizzle
drizzle/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Wrangler
.wrangler/
.dev.vars
